.container {
  background-color: #191a1b;
  color: #f4f4f4;
  font-family: "Public Sans";

  height: 100%;

  display: flex;
  flex-direction: row;
}

.header {
  font-size: 1rem;
  width: 17%;
  min-width: 250px;

  height: 100vh;

  background-color: #1f212d;
  border-right: 1px solid #2b2d35;
}

.headerDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem !important;
}

.header > div {
  padding: 1.2rem;
}

.header > div:first-of-type {
  height: 62px;
  background-color: #19191f;
  border-bottom: 1px solid #2b2d35;
}

.header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 1.2rem;
}

.contentDiv {
  font-size: 1rem;
  height: 100vh;

  width: 100%;
  background-color: #19191f;
}

.contentDiv > div:first-of-type {
  background-color: #19191f;
  height: 62px;
  padding: 1.2rem 2rem;
  border-bottom: 1px solid #2b2d35;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentDiv > div:first-of-type h1 {
  font-size: 1.2rem;
}

.droneListElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.droneListElement h3 {
  font-weight: 300;
}

.content {
  padding: 5rem;
}

.droneList h2 {
  font-weight: 300;
  font-size: 1.6rem;
}

.droneList p {
  font-weight: 300;
  font-size: .9rem;
  color: #999999;
}

.tableHeader {
  background-color: #272b37;
}

.droneTable {
  /* padding: 1rem; */
  background-color: #303744;
  border-radius: 3px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.droneTable > div {
  display: grid;
  grid-template-columns: 1fr 10% 10% 10% 10% 10%;
  gap: 1rem;
  align-items: center;

  padding: .2rem 1rem;
}

.fleetTable {
  /* padding: 1rem; */
  background-color: #303744;
  border-radius: 3px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.fleetTable > div {
  display: grid;
  grid-template-columns: 1fr 10% 10% 10%;
  gap: 1rem;
  align-items: center;

  padding: .2rem 1rem;
}

/* .droneTable > div:not(.tableHeader) > *:not(h3) {
  align-self: center;
  justify-self: center;
} */

.droneTable > div:not(:last-of-type) {
  border-bottom: 1px solid #2b2d35;
}

.droneList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.takeControl {
  background-color: #41ca9f;
  color: #063c04;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .2rem;
  padding: .2rem 1rem;
  width: fit-content;
  cursor: pointer;
}

.statusPositive {
  background-color: #33b3d9;
  color: #112d64;
  border-radius: 55px;
  display: flex;
  align-items: center;

  padding: .2rem 1rem;
  width: fit-content;
}

.statusNeutral {
  background-color: #dbe3e12b;
  color: #d0d1d0;
  border-radius: 55px;
  display: flex;
  align-items: center;

  padding: .2rem 1rem;
  width: fit-content;
}

.trailingIdentifier {
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
}

.inventory {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem;

  width: fit-content;
  background-color: #303744;
  border-radius: 3px;
}

.selectedSlot {
  background-color: #33b3d9 !important;
}

.inventory > div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  width: 20px;

  border-radius: 3px;

  /* background-color: #19191f; */
}

.droneContent {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #303744;
  height: 100%;

  border-radius: 5px;
  overflow: hidden;
}

.droneToolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;

  background-color: #1f212d;
}

.droneToolbar > div:first-of-type {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.droneToolbar .droneAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #303744; */
  /* border-radius: 5px; */

  width: 50px;
}

.droneToolbar .droneAction > * {
  display: flex;
  flex-direction: column;
  border: 1px solid #303744;
  /* border-radius: 5px; */
  width: 100%;
  cursor: pointer;

  color: #dcdcdd;
}

.droneToolbar .droneAction > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: none;
  border-bottom: none;

  border-radius: 0px;
  width: 100%;

  text-align: center;

  height: 30px;
  font-size: .8rem;
}

.droneToolbar .droneAction > div:hover {
  border: 1px solid ;
}

.droneToolbar .droneAction > *:not(div) {
  height: 30px;
}

.droneToolbar .droneAction > *:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.droneToolbar .droneAction > *:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.droneToolbar .droneAction > *:hover {
  background-color: rgba(255,255,255, 0.2);
  border-color: #f4f4f4;
}